.main {
  display: flex;
  justify-content: space-between;
  transition: margin-left 0.3s;
}

.main.shift {
  margin-left: 18vw;
}

.close-side{
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
#app-name {
  /* display: inline-block; */
  /* line-height: 1; */
  font-weight: 700;
  margin-top: 1.15rem;
  padding-left: 10px;
  color: rgb(129, 129, 127);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  /* border: 1px solid black; */
  white-space: nowrap;
}

.close-sidebar {
  margin: 8px;
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.close-sidebar:hover {
  background-color: rgb(210, 205, 205);
}

.chat-list {
  display: flex;
  /* width: 40vw; */
  min-width: 20vw;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  transform: translateY(-20%);
  height: 100vh;
}
.chat{
  display: flex;
  gap: 1rem;
}
.chat input {
  width: 46vw;
  min-width: 40vw;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: rgb(231, 227, 227);
  padding: 15px;
}
.chat img{
  cursor: pointer;
  height: 28px;
  width: 28px;
  position: absolute;
  right: 1%;
}
.heading {
  font-size: 1.5rem;
  color: black;
}

.response{
  /* border: 1px solid black; */
  /* white-space: nowrap; */
  max-width: 46vw;
  overflow-y: scroll;
  width: 100%;
}
.profile {
  width: 45px;
  height: 45px;
  padding: 5px;
  cursor: pointer;
}
