.open-bar ,.search,.new-chat{
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  .open-bar:hover ,.search:hover,.new-chat:hover{
      background-color: rgb(210, 205, 205);
  }
  .close-sidebar{
      position: relative;
  }
  
  .top {
    display: flex;
    padding: 9px;
    justify-content: space-between;
  }
  
  .top-1 {
    display: flex;
    gap: 5px;
  }
  
  .sidebar {
      width: 0;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: width 0.3s;
      background-color: rgb(241, 240, 240); 
      
    }
    
    .sidebar.open {
      width: 18vw; 
    }
    
    
    