.open-bar ,.search,.new-chat,.close-sidebar{
  width: 35px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.open-bar:hover ,.search:hover,.new-chat:hover,.close-sidebar:hover{
    background-color: rgb(210, 205, 205);
}
.close-sidebar{
    position: relative;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top-1 {
  display: flex;
  gap: 5px;
}

.sidebar {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: white; /* Optional background */
    z-index: 10;
    border-right: 1px solid black;
  }
  
  .sidebar.open {
    animation: openSidebar 0.5s forwards; /* Play animation on open */
  }
  
  .sidebar.close {
    animation: closeSidebar 0.3s forwards; /* Play animation on close */
  }
  
  /* Animation for opening */
  @keyframes openSidebar {
    from {
      width: 0;
    }
    to {
      width: 18vw; /* Full width when open */
    }
  }
  
  /* Animation for closing */
  @keyframes closeSidebar {
    from {
      width: 18vw;
    }
    to {
      width: 0;
    }
  }
  
  